<h1>Tacofinder#search</h1>
<p>Find me in app/views/tacofinder/search.html.erb</p>


<div>Stores Matching Your Requirements</div>
<table>
	<tr>
		<th>Store</th>
		<th>City</th>
	</tr>

	<%@results.each do |row| %>
	<tr>
		<td><%=row['store_name']%></td>
		<td><%=row['city_name']%></td>
	</tr>
	<%end%>
</table>

